@tailwind base;
@tailwind components;
@tailwind utilities;
@plugin "flowbite/plugin";
@plugin "daisyui";
@source "../../node_modules/flowbite";

/* overide style button sweetalert */
.swal2-confirm {
    background-color: #3085d6 !important;
    color: #fff !important;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    font-weight: 600;
}

.swal2-cancel {
    background-color: #d33 !important;
    color: #fff !important;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    font-weight: 600;
}

/* Untuk semua browser modern */
.hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
}

#scroll-anchor {
    margin-top: auto;
}
